.sprintPlan {
  table {
    tr {
      td {
        padding: 0 5px;
      }
    }
  }
  .keywords {
    float: right;
  }
  .idAndSummary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .storyPts {
    text-align: right;
  }
  .sprintDateRange, .sprintIssueCount {
    color: gray;
  }
}
