{{outlet}}

<div class="footer">
  {{#link-to "index"}}home{{/link-to}}
  {{#link-to "bugs"}}bugs{{/link-to}}
  {{#link-to "products"}}products{{/link-to}}
  {{#link-to "sprints"}}sprints{{/link-to}}
</div>