{{outlet}}

<nav class="navbar navbar-bottom">
  <div class="container">
    <div class="row">
      <a href="/">home</a>
      {{#link-to "products"}}products{{/link-to}}
      {{#link-to "sprint.work" 17}}sprints{{/link-to}}
    </div>
  </div>
</nav>